@font-face {
  font-family: 'Montserrat';
  src: url('media/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
form {
  min-width: 50vmin;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
input, textarea, select {
  background-color: #000000A0;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.3;
  color: #FFF;
  width: fill-available;
  width: -moz-available;
  width: -webkit-fill-available;
  border: none;
  border-radius: 1rem;
  box-shadow: inset 0 0 0 2px #8000FF;
  padding: 10px;
  resize: none;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
option {
  background-color: #000;
  font-weight: 500;
  border: none;
  padding: 0 10px;
}
input:focus, textarea:focus, select:focus {
  outline: none;
  box-shadow: inset 0 0 0 4px #8000FF;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: top 50% right 5px;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 10%;
  border-radius: 0 0 1rem 1rem;
  background-color: #8000FF00;
  z-index: 3;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
header.scrolled {
  background-color: #8000FFFF;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
footer {
  display: flex;
  padding: 20px 10%;
  border-radius: 1rem 1rem 0 0;
  background-color: #8000FF;
  flex-direction: column;
  position: relative;
}
.parallax h1, .parallax h3 {
  transition: font-weight 1s cubic-bezier(0.5, 0, 0.5, 1);
}
.parallax h1.scrolled, .parallax h3.scrolled {
  font-weight: 500;
}
body {
  font-family: Montserrat;
  background: linear-gradient(90deg, #7000E0, #180030, #180030, #7000E0);
  background-size: 200% 200%;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  color: #FFF;
  animation: bgGradientLoop 30s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.content {
  background: linear-gradient(90deg, #7000E0, #180030, #180030, #7000E0);
  background-size: 200% 200%;
  animation: bgGradientLoop 30s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  position: relative;
  z-index: 1;
}
a {
  text-decoration: none;
}
.banner {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  color: #FFF;
  word-wrap: break-word;
  position: relative;
}
.banner1 {
  background: linear-gradient(0, #00000010, #00000010), url(media/manilacityscape.png);
  color: #000;
}
.banner2 {
  background: linear-gradient(0, #00000010, #00000010), url(media/taytaysky.png);
  color: #000;
}
.banner3 {
  background: linear-gradient(0, #00000010, #00000010), url(media/smcenterpasig.png);
}
.banner {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.parallax {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
::-webkit-scrollbar {
  width: 5px;
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #707070;
}
::-webkit-scrollbar-thumb:active {
  background: #606060;
}
.galimg {
  background-color: #000000A0;
  margin: 15px;
  padding: 5px;
  min-height: 10vmin;
  max-height: 10vmax;
  border-radius: 1rem;
  outline: 5px solid #8000FF;
  cursor: pointer;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.galimg:hover {
  transform: scale(1.05);
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.galimg.active {
  background-color: #00000080;
  margin: 20px auto;
  padding: 5px;
  object-fit: contain;
  max-width: 80vw;
  max-height: 60lvh;
  border-radius: 2rem;
  outline: 5px solid #FFF;
  cursor: auto;
  perspective: 1000px;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.galimg.active:hover {
  transform: none;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.imgmodal {
  background-color: #00000060;
  backdrop-filter: blur(50px);
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  display: none;
  flex-direction: column;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: opacity .1s linear;
  z-index: 2;
}
h1 {
  margin: 0;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.3;
}
h2 {
  margin: 0;
  font-size: 50px;
  font-weight: 800;
  line-height: 1.3;
}
h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
}
h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
}
p {
  margin: 0;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.3;
}
.smalltext {
  font-size: 12px;
}
p#footer {
  margin: 10px 0;
}
i {
  color: #FFF;
}
footer i {
  color: #000;
}
.logo {
  width: 200px;
  fill: #000;
  transition: fill .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.logo.scrolled {
  fill: #FFF;
}
.hamburger {
  display: block;
  cursor: pointer;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.active {
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.bar {
  display: block;
  width: 35px;
  height: 5px;
  margin: 7px auto;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 1rem;
  -webkit-transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.bar.scrolled {
  background-color: #FFF;
}
.navmenu {
  overflow: hidden;
  background-color: #8000FF;
  margin-right: 10%;
  top: calc(var(--header-height) + 10px);
  right: 0;
  position: fixed;
  display: flex;
  width: auto;
  flex-direction: column;
  border-radius: 1rem;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s cubic-bezier(0.5, 0, 0.5, 1);
  z-index: 2;
}
.navmenu.active {
  pointer-events: visible;
  opacity: 1;
}
.navmenu a {
  color: #FFF;
  padding: 10px 50px;
  text-align: center;
  display: block;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.navmenu a:hover {
  background-color: #7000E0;
}
.navmenu a:active {
  background-color: #6000C0;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}
.fade {
  animation-name: fade;
  animation-duration: .2s;
}
.contentlayout {
  display: flex;
  flex-direction: column;
}
.layout {
  display: flex;
  flex-direction: row;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
  z-index: 0;
}
.imglayout {
  display: flex;
  max-height: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  opacity: 0;
  overflow: hidden;
  transition: max-height .5s cubic-bezier(0, 0.5, 0.5, 1), opacity .5s cubic-bezier(0.5, 0, 0, 0);
}
.imglayout.active {
  opacity: 1;
  transition: max-height .5s cubic-bezier(0, 0.5, 0.5, 1), opacity .5s cubic-bezier(1, 1, 0.5, 1);
}
.itemlayout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
  gap: 20px;
  z-index: 0;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #00000080;
  border-radius: 1rem;
  margin: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow-wrap: break-word;
  box-shadow: inset 0 0 0 5px #8000FF;
  flex: 1;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.container:hover {
  transform: scale(1.01);
}
.radgradient {
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), #400080, #00000000);
  opacity: 0;
  box-shadow: inherit; 
  pointer-events: none;
  transition: opacity .2s ease-in-out;
  z-index: -1;
}
.container:hover .radgradient {
  opacity: 1;
}
.mobile-nav-item {
  margin: 15px 0;
}
.button p {
  color: #FFF;
}
.cirbutton {
  margin: 10px 5px 10px 5px;
}
.buttonlist {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
}
.button {
  font-family: Montserrat;
  border-radius: 5rem;
  background-color: #8000FF;
  border: none;
  outline: 0px solid #FFF;
  height: 40px;
  margin: 10px;
  width: fit-content;
  padding: 5px 20px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  cursor: pointer;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.item .button {
  margin: 10px 0;
}
.cirbutton {
  border-radius: 50%;
  background-color: #8000FF;
  border: none;
  outline: 0px solid #FFF;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #000;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.footercirbutton {
  border-radius: 50%;
  background-color: #FFF;
  border: none;
  outline: 0px solid #000;
  width: 45px;
  height: 45px;
  margin: 10px 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.button:hover, .cirbutton:hover {
  background-color: #7000E0;
  outline: 5px solid #FFF;
  transform: scale(1.05);
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.button:active, .cirbutton:active {
  background-color: #7000E0;
  outline: 3px solid #FFF;
  transform: scale(.95);
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.footercirbutton:hover {
  background-color: #DDD;
  outline: 5px solid #000;
  transform: scale(1.05);
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.footercirbutton:active {
  background-color: #CCC;
  outline: 3px solid #000;
  transform: scale(.95);
  transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
}
.button.gallery {
  margin-top: 40px;
}
pagefade {
  width: 100vmax;
  animation: pageFadeIn 1s;
}
@keyframes pageFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  } 
}
@keyframes bgGradientLoop {
  0%, 100% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
}
@media screen and (max-width: 1100px) {
  .layout {
    flex-direction: column;
  }
  .galimg {
    margin: 7px;
  }
  .button.gallery {
    margin-top: 25px;
  }
}
@media screen and (max-width: 700px) {
  input, textarea, select {
    font-size: 14px;
  }
  .content {
    padding: 2.5% 5%;
  }
  header {
    transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
  }
  .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: .2s cubic-bezier(0.5, 0, 0.5, 1);
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .logo {
    width: 150px;
  }
  .itemlayout {
    flex-direction: column;
  }
  .container {
    margin: 10px;
    padding: 25px;
  }
  h1 {
    font-size: 50px;
    line-height: 1.3;
  }
  h2 {
    font-size: 28px;
    line-height: 1.3;
  }
  h3 {
    font-size: 23px;
    line-height: 1.3;
  }
  h4 {
    font-size: 19px;
    line-height: 1.3;
  }
  p {
    font-size: 14px;
    line-height: 1.3;
  }
  .button {
    padding: 2px 15px;
  }
}
@media screen and (max-width: 425px) {
  .navmenu {
    right: auto;
    margin: 0;
    width: 90%;
    opacity: 0;
  }
  .navmenu a {
    padding: 12px 50px;
  }
  .galimg.active {
    opacity: 1;
    border-radius: 1rem;
  }
}