header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  padding: 10px 10%;
  border-radius: 0 0 1rem 1rem;
  background-color: #8000FF00;
  filter: drop-shadow(0 0 5px #000000);
  z-index: 3;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
header.scrolled {
  background-color: #8000FFFF;
}
footer {
  position: relative;
  display: block;
  justify-content: space-between;
  align-items: left;
  padding: 20px 10%;
  border-radius: 1rem 1rem 0 0;
  background-color: #8000FF;
  filter: drop-shadow(0 0 5px #000000);
  z-index: 3;
}
body {
  font-family: Montserrat;
  background: linear-gradient(90deg, #50009F, #000, #000, #50009F);
  background-size: 200% 200%;
  animation: banner1Gradient 20s ease-in-out infinite;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
  color: #FFF;
  overflow: overlay;
}
.stuff {
  padding: 5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}
.banner1 {
  background: url(img/bannerimg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  color: #FFF;
  word-wrap: break-word;
}
.banner2 {
  background: linear-gradient(0, #00000010, #00000010), url(img/manilacityscape.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  color: #1C1C1C;
  word-wrap: break-word;
}
.banner3 {
  background: linear-gradient(0, #00000060, #00000060), url(img/auraambgc.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  color: #FFF;
  word-wrap: break-word;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #FFFFFF40;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #FFFFFF60;
}
::-webkit-scrollbar-thumb:active {
  background: #FFFFFF80;
}
h1 {
  font-family: Montserrat;
  margin: 0;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.3;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
h2 {
  font-family: Montserrat;
  margin: 0;
  font-size: 60px;
  font-weight: 800;
  line-height: 1.3;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
h3 {
  font-family: Montserrat;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
h4 {
  font-family: Montserrat;
  margin: 0;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.3;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
p {
  font-family: Montserrat;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
i {
  color: #000;
}
hr {
  height: 3px;
  background-color: #FFFFFF40;
  border: none;
  border-radius: 1rem;
  width: 100%;
  margin: 25px 0 25px 0;
}
.logo {
  width: 200px;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.hamburger {
  display: block;
  cursor: pointer;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.hamburger-active {
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.bar {
  display: block;
  width: 35px;
  height: 5px;
  margin: 7px auto;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  border-radius: 1rem;
  -webkit-transition: .2s cubic-bezier(1, 0, 1, 1);
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.navmenu {
  overflow: hidden;
  background-color: #8000FF;
  margin: 81.88px 10% 0 0;
  top: -250px;
  right: 0;
  position: fixed;
  display: flex;
  width: 300px;
  flex-direction: column;
  border-radius: 1rem;
  filter: drop-shadow(0 0 5px #000000);
  transition: .2s cubic-bezier(1, 0, 1, 1);
  z-index: 2;
}
.navmenu.hamburger-active {
  top: 0;
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.navmenu #mobileLinks {
  display: none;
}
.navmenu a {
  color: #FFF;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.navmenu a:hover {
  background-color: #7000DF;
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.navmenu a:active {
  background-color: #6000BF;
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.hamburger.hamburger-active .bar:nth-child(2) {
  opacity: 0;
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.hamburger.hamburger-active .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.hamburger.hamburger-active .bar:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.mobile-nav-item {
  margin: 15px 0;
}
.mySlides, .mySlidesB {
  display: none;
}
.slide-img {
  vertical-align: middle;
  outline: 3px solid #FFF;
  background-color: #00000080;
  border-radius: 1rem;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.slide-img:hover {
  transform: scale(1.02);
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.graphdes-slideshow-container {
  max-width: 25rem;
  position: relative;
  margin: 20px auto 0 auto;
}
.photo-slideshow-container {
  max-width: 45rem;
  position: relative;
  margin: 20px auto 0 auto;
}
.text {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  filter: drop-shadow(0 0 3px #000000);
  z-index: 1;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.numbertext {
  color: #F2F2F2;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 22px;
  position: absolute;
  filter: drop-shadow(0 0 3px #000000);
  z-index: 1;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.dot, .dotB {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #FFFFFF00;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.dot:hover, .dotB:hover {
  border: 3px solid #8000FF;
  transform: scale(1.2);
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.dot:active, .dotB:active {
  background-color: #CCC;
  transform: scale(1.1);
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.active {
  background-color: #FFF;
  transform: scale(1.2);
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.fade {
  animation-name: fade;
  animation-duration: .2s;
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.refsheet {
  outline: 3px solid;
  border-radius: 1rem;
  background-color: #00000080;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 250px;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.imageL {
  outline: 3px solid;
  border-radius: 1rem;
  background-color: #00000080;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 150px;
  float: left;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.imageR {
  outline: 3px solid;
  border-radius: 1rem;
  background-color: #00000080;
  margin-right: 20px;
  margin-left: 20px;
  min-width: 150px;
  float: right;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.refsheet:hover, .imageL:hover, .imageR:hover {
  transform: scale(1.02);
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.prev, .next {
  margin: 20px 10px 20px 10px;
}
.cirbutton {
  margin: 10px 5px 10px 5px;
}
.button {
  border-radius: 5rem;
  background-color: #FFF;
  border: none;
  outline: 0px solid #8000FF;
  height: 45px;
  margin: 10px 5px 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  padding: 5px 10px;
  cursor: pointer;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.cirbutton, .prev, .next {
  border-radius: 50%;
  background-color: #FFF;
  border: none;
  outline: 0px solid #8000FF;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #000;
  cursor: pointer;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.footercirbutton {
  border-radius: 50%;
  background-color: #FFF;
  border: none;
  outline: 0px solid #000;
  width: 45px;
  height: 45px;
  margin: 20px 10px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: .2s cubic-bezier(1, 0, 1, 1);
}
.footercirbutton:hover {
  background-color: #DDD;
  outline: 5px solid #000;
  transform: scale(1.1);
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.footercirbutton:active {
  background-color: #CCC;
  outline: 3px solid #000;
  transform: scale(0.95);
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.button:hover, .cirbutton:hover, .prev:hover, .next:hover {
  background-color: #DDD;
  outline: 5px solid #8000FF;
  transform: scale(1.1);
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
.button:active, .cirbutton:active, .prev:active, .next:active {
  background-color: #CCC;
  outline: 3px solid #8000FF;
  transform: scale(0.95);
  transition: .2s cubic-bezier(0, 0, 0, 1);
}
pagefade {
  animation: pageFadeIn 1s;
}
@-webkit-keyframes banner1Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}
@keyframes pageFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  } 
}
@keyframes fade {
  from {opacity: 0.4}
  to {opacity: 1}
}
@media screen and (max-width: 950px) {
  .imageL, .imageR {
    float: none;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
  .navmenu.hamburger-active {
    top: 0;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
  .hamburger.hamburger-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.hamburger-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .logo {
    width: 150px;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
  .prev {
    width: 55px;
    height: 55px;
    margin: 5px 10px 5px 10px;
  }
  .next {
    width: 55px;
    height: 55px;
    margin: 5px 10px 5px 10px;
  }
  .text {
    color: #f2f2f2;
    font-size: 17px;
    font-weight: 500;
    position: absolute;
    bottom: 20px;
    width: 100%;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
  .numbertext {
    color: #f2f2f2;
    font-size: 17px;
    font-weight: 500;
    padding: 20px 22px;
    position: absolute;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
  .dot, .dotB {
    height: 7px;
    width: 7px;
    margin: 0 3px;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
  h1 {
    font-size: 60px;
    line-height: 1.3;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
  h2 {
    font-size: 35px;
    line-height: 1.3;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
  h3 {
    font-size: 25px;
    line-height: 1.3;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
  h4 {
    font-size: 20px;
    line-height: 1.3;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
  p {
    font-size: 15px;
    line-height: 1.3;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
  .button {
    padding: 2px 10px;
  }
}
@media screen and (max-width: 400px) {
  .navmenu {
    margin: 68.91px 0 0 0;
    width: 100%;
    top: -250px;
    right: auto;
    transition: .2s cubic-bezier(0, 0, 0, 1);
  }
}